{% load staticfiles %}
{% load textblock %}
<!-- Start Blog Area -->
<section id="blog-area">
    <div class="container">
        <div class="row text-center inner">
            <div class="col-sm-6">
                <div class="blog-content shadow">
                    <img src="{% static 'img/2-1.jpg' %}" alt="Image">
                    <h2>Two Column Left Side</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor eros eget eros maximus, ut cursus sem euismod. Donec iaculis tristique odio at consectetur. Nullam dignissim varius suscipit. Sed in leo sit amet velit finibus pretium.<br><br>
                        Vestibulum vel mauris at erat mattis accumsan et ac lorem. Cras non venenatis orci, sed tincidunt massa. Duis nisl lectus, auctor eu sodales at, dignissim eu orci. Sed vitae venenatis magna, in blandit metus.</p>
                        <br>

                </div>
            </div>
            <div class="col-sm-6">
            <div class="blog-content shadow">
                <img src="{% static 'img/2-2.jpg' %}" alt="Image">
                <h2>Two Column Right Side</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam tempor eros eget eros maximus, ut cursus sem euismod. Donec iaculis tristique odio at consectetur. Nullam dignissim varius suscipit. Sed in leo sit amet velit finibus pretium.<br><br>
        Vestibulum vel mauris at erat mattis accumsan et ac lorem. Cras non venenatis orci, sed tincidunt massa. Duis nisl lectus, auctor eu sodales at, dignissim eu orci. Sed vitae venenatis magna, in blandit metus.</p>
        <!-- <span><a href="#">read more</a></span><br> -->
      <p id="blofr"></p>
    </div>
  </div>
</div>
</div>
</section>
<!-- End Blog Area -->