{% load staticfiles %}
{% load textblock %}
<!-- Start Footer Area -->
<div class="container">
   <div class="row text-center">
    <div class="col-sm-12">
     <div class="footer-content">
      <h1>Use it free!</h1>
      <p>“Conquer is free Bootstrap template from templatemo website. 
       <br>No backlink is required to use this layout.”</p>
     </div>                
   </div>
 </div>
</div>

<div class="shadow">
<div class="container">
  <div class="row">
   <div class="col-sm-12 text-center">             
    <p class="copy">Copyright © 2016 ZoeHUB | Design by <a rel="nofollow" href="https://github.com/lgarest" target="_parent">Luis García Estrades</a></p>
  </div>
</div>
  
</div>
</div>
<!-- End Footer Area -->