{% load staticfiles %}
{% load textblock %}
<nav class="navbar navbar-fixed-top shadow" style="background-color: white;">
    <div class="container pull-right">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>   
        <div class="single-page-nav sticky-wrapper pull-right" id="tmNavbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'zoehub' %}">Zoe HUB</a></li>
                <li><a href="{% url 'zoeai' %}">Zoe AI</a></li>
                <li><a href="{% url 'uses' %}">Uses</a></li>
                <li><a href="{% url 'buy' %}">Buy</a></li>
            </ul>
        </div>   
    </div>
</nav>