<nav class="navbar navbar-fixed-top" style="background-color: white; box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;">
    <div class="container pull-right">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
        </div>   
        <div class="single-page-nav sticky-wrapper pull-right" id="tmNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#homeSection">Home</a></li>
                <li><a href="#aboutZoe">About Zoe</a></li>
                <li><a href="#service">Service</a></li>
                <li><a href="#contactSection">Contact</a></li>
            </ul>
        </div>   
    </div>
</nav>