{% extends "index.html" %}
{% load staticfiles %}
{% load textblock %}

{% block title %} Uses {% endblock title %}

{% block content %}
<div class="bloc l-bloc bgc-white" id="bloc-15">
    <div class="container bloc-lg">
        <div class="row">
            <div class="col-sm-3">
            <a href="#security"><img src="http://placehold.it/1168x657" class="img-responsive" />
                <h3 class="mg-md">
                    Security
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </a>
            </div>
            <div class="col-sm-3">
                <a href="#monitoring"> <img src="http://placehold.it/1168x657" class="img-responsive" /> 
                    
                <h3 class="mg-md">
                    Monitoring
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#lightingenergy"> 
                <img src="http://placehold.it/1168x657" class="img-responsive" />

                <h3 class="mg-md">
                    Lighting & energy
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                </a>
            </div>
            <div class="col-sm-3">
                <a href="#comfortentertainment"> 
                <img src="http://placehold.it/1168x657" class="img-responsive" /> 
                <h3 class="mg-md">
                    Comfort & entertainment
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- security -->
<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center"id="security">
                    Security
                </h3>
                <p class="text-center">
                    We take really seriously your data
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<!-- monitoring -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center"id="monitoring">
                    Monitoring
                </h3>
                <p class="text-center">
                    It learns about what you already have
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<!-- lightingenergy -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center"id="lightingenergy">
                    Lighting & energy
                </h3>
                <p class="text-center">
                    It learns about what you already have
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<!-- comfortentertainment -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center"id="comfortentertainment">
                    Comfort & entertainment
                </h3>
                <p class="text-center">
                    It learns about what you already have
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="bloc l-bloc bgc-white mt-100">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="mg-lg">
                    Feature title
                </h2>
                <h3 class="mg-sm">
                    A more descriptive sub heading.
                </h3>
                <p class="mg-lg">
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                </p>
            </div>
            <div class="col-sm-6">
                <img src="http://placehold.it/1168x657" class="img-responsive" />
            </div>
        </div>
    </div>
</div>


{% endblock content %}