{% extends "index.html" %}
{% load staticfiles %}
{% load textblock %}

{% block title %} HUB {% endblock title %}

{% block content %}

<div class="bloc l-bloc bgc-white" id="bloc-10">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="https://d3abxbgmpfhmxi.cloudfront.net/assets/img/products/hub/products-hub-slide-1.6f477dde.jpg" class="img-responsive shadow" />
            </div>
            <div class="col-sm-12 vertical-middle" style="position: absolute; top:38%; left: 20%;">
            <span>
                
                Hola que tal
            </span>
            </div>
        </div>
    </div>
</div>

<!-- picture2 -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="mg-md text-center">
                    The solution is ZOE
                </h3>
                <p class="text-center">
                    The real solution nowadays bla bla
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="https://d3abxbgmpfhmxi.cloudfront.net/assets/img/products/hub/products-hub.e9aba541.jpg" class="img-responsive" />
            </div>
        </div>
    </div>
</div>

<!-- features -->
<div class="bloc l-bloc bgc-white mt-200">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center">
                    Full of features
                </h3>
                <p class="text-center">
                    The real solution nowadays bla bla
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-heart icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Beautiful
                </h3>
                <p class="text-center">
                    A little feature description could go here. A little feature description.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-rocket icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Responsive
                </h3>
                <p class="text-center">
                    A little feature description could go here. A little feature description.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-code icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Clean
                </h3>
                <p class="text-center">
                    A little feature description could go here. A little feature description.
                </p>
            </div>
            <div class="col-sm-3">
                <div class="text-center">
                    <span class="fa fa-tasks icon-round icon-md"></span>
                </div>
                <h3 class="text-center mg-md">
                    Optimized
                </h3>
                <p class="text-center">
                    A little feature description could go here. A little feature description.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- compatibilities -->
<div class="bloc l-bloc bgc-white mt-200" id="bloc-9">
    <div class="container">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center">
                    Compatibilities
                </h3>
                <p class="text-center">
                    Zoe Hub is compatible with all this brands:
                </p>
            </div>
        </div>
        <div class="row voffset">
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
        </div>
        <div class="row voffset">
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
            <div class="col-sm-3">
                <img src="http://placehold.it/500x500" class="img-responsive shadow" /></a>
                <h3 class="mg-md text-center">
                    Title goes here
                </h3>
                <p>
                    Lorem ipsum dolor sit amet, adipiscing elit Aenean commodo ligula eget.
                </p>
            </div>
        </div>
    </div>
</div>


<!-- Bloc Group -->
<div class='bloc-group mt-200'>


<!-- Footer - bloc-12 -->
<div class="bloc l-bloc bgc-white bloc-tile-3" id="bloc-12">
    <div class="container bloc-lg">
        <div class="row pb-50">
            <div class="col-sm-12">
                <h3 class="mg-md text-center">
                    Zoe hub price
                </h3>
                <p class="text-center">
                    The real solution nowadays bla bla
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="mg-clear">
                            Zoe hub price
                        </h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                        </p>
                    </div>
                    <div class="panel-footer">
                            <a href="/buy" class="btn btn-d btn-lg btn-sq btn-block">Buy here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer - bloc-12 END -->
<!-- Bloc Group END -->

<!-- https://d3abxbgmpfhmxi.cloudfront.net/assets/img/products/hub/products-hub.e9aba541.jpg -->

{% endblock content %}